{
  "tabWidth": 1,
  "singleQuote": false,
  "useTabs": true,
  "trailingComma": "es5",
  "semi": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "printWidth": 100
}
